@charset "UTF-8";
/*Regra @charset caso haja problemas com acentuação */

body{
    font-family: Arial;
    background-color: lightgoldenrodyellow;
    color: chocolate;
}

h1{
    color: brown;
}

a {
    color: brown;
    text-decoration: none;
}
