@charset "UTF-8";
/*Regra @charset caso haja problemas com acentuação */

body{
    font-family: Arial,Arial, Helvetica, sans-serif;
    background-color:lightgoldenrodyellow;
    font-size: 20pt;
}

h1{
    color:maroon ;
    background-color: goldenrod;
    text-decoration: underline;
}

h2{
    color: darkred;
}

 p{
    text-align: justify;
 }